.banner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 999997;
  background-color: black;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.banner-container.show {
  opacity: 0.7;
}

.banner-container.fade-out {
  opacity: 0;
}

.banner-image {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-image {
  opacity: 0;
  z-index: 999999;
}

.top-image {
  opacity: 0;
  transform: translate(-50%, -50%) scaleX(1.5);
  z-index: 999998;
}

.banner-image.show {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.top-image.show {
  opacity: 0.8;
}

.top-image.fade-out {
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.top-image.shrink {
  transform: translate(-50%, -50%) scaleX(1.1);
}

.bottom-image.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}